@import "config";

.latest-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 1rem 6rem;

    img {
        width: 100%;
    }

    .news-card {
        background-color: white;
        height: 425px;
        border-bottom: 2px solid #353B6E;
        display: flex;
        flex-direction: column;

        .news-content {
            padding: 8px 15px;

            h2 {
                font-size: 1.2rem;
                font-weight: 400;
                text-transform: capitalize;
            }
    
            hr {
                margin: 10px 0;
            }

            p {
                color: rgba($color: #000000, $alpha: 0.8);
                font-weight: 350;
                font-size: 0.9rem;
            }
        }

        span { 
            margin: auto 14px 6px auto;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}